{% extends 'base.html' %}
{% load static %}
{% block title %} Nerd Shop - New gen consoles goodies {% endblock %}
{% block meta_description %} Home page {% endblock %}
{% block hero-image-url %}
    url('https://res.cloudinary.com/dxtsy4mcr/image/upload/v1672875464/carl-raw-m3hn2Kn5Bns-unsplash_jqfrri.jpg')
{% endblock %}
{% block css_files %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}
{% block hero-heading %}
    New gen consoles goodies
{% endblock %}
{% block hero-subheading %}
    All in one place
{% endblock %}
{% block content %}
    <h1 class="text-center mt-5">Latest Arrivals</h1>
    {% if ps5 %}
        <section class="container-lg mt-4 latest-posts">
            <hr>
            <h2>PS5</h2>
            <hr>
            <div class="row">
                {% for product in ps5 %}
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="card border-primary mx-2 my-2 position-relative">
                            <img src="{% if product.image and product.image.url %}
                                {{ product.image.url }}
                            {% else %}
                                {{ MEDIA_URL }}/media/noimage.png
                            {% endif %}" class="card-img-top" alt="{{ product.title }}">
                            <div class="card-body d-flex flex-column">
                                <div class="flex-grow-1">
                                    <h3 class="card-title fs-3">{{ product.title }}</h3>
                                    <p class="card-text">
                                        <span class="badge rounded-pill bg-secondary">{{ product.category }} </span>
                                    </p>
                                </div>

                                {% if product.on_sale %}
                                    <p class="text-danger text-center fs-3 fw-bold">€{{ product.sale_price }}
                                        <span class="text-muted fs-6 text-decoration-line-through">{{ product.price }}</span>
                                    </p>
                                {% else %}
                                    <p class="text-center text-warning fs-3 fw-bold">€{{ product.price }}</p>
                                {% endif %}
                                <div class="d-flex justify-content-evenly gap-5 mb-2">
                                    <a href="{% url 'product_details' product.slug %}" class="btn btn-primary">Read
                                        More</a>
                                    <div>
                                        <form action="{% url 'add_to_cart' product.id %}" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                            <button type="submit" class="btn btn-warning">Add Cart
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    {% endif %}
    {% if xbox %}
        <section class="container-lg mt-4 latest-posts">
            <hr>
            <h2>XBOX X/S</h2>
            <hr>
            <div class="row">
                {% for product in xbox %}
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="card border-primary mx-2 my-2 position-relative">
                            <img src="{% if product.image and product.image.url %}
                                {{ product.image.url }}
                            {% else %}
                                {{ MEDIA_URL }}/media/noimage.png
                            {% endif %}"
                                 class="card-img-top" alt="{{ product.title }}">
                            <div class="card-body d-flex flex-column">
                                <div class="flex-grow-1">
                                    <h3 class="card-title fs-3">{{ product.title }}</h3>
                                    <p class="card-text">
                                        <span class="badge rounded-pill bg-secondary">{{ product.category }} </span>
                                    </p>
                                </div>

                                {% if product.on_sale %}
                                    <p class="text-danger text-center fs-3 fw-bold">€{{ product.sale_price }}
                                        <span class="text-muted fs-6 text-decoration-line-through">{{ product.price }}</span>
                                    </p>
                                {% else %}
                                    <p class="text-center text-warning fs-3 fw-bold">€{{ product.price }}</p>
                                {% endif %}
                                <div class="d-flex justify-content-evenly gap-5 mb-2">
                                    <a href="{% url 'product_details' product.slug %}" class="btn btn-primary">Read
                                        More</a>
                                    <div>
                                        <form action="{% url 'add_to_cart' product.id %}" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                            <button type="submit" class="btn btn-warning">Add Cart
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    {% endif %}
    {% if switch %}
        <section class="container-lg mt-4 latest-posts">
            <hr>
            <h2>SWITCH</h2>
            <hr>
            <div class="row">
                {% for product in switch %}
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="card border-primary mx-2 my-2 position-relative">
                            <img src="{% if product.image and product.image.url %}
                                {{ product.image.url }}
                            {% else %}
                                {{ MEDIA_URL }}/media/noimage.png
                            {% endif %}" class="card-img-top" alt="{{ product.title }}">
                            <div class="card-body d-flex flex-column">
                                <div class="flex-grow-1">
                                    <h3 class="card-title fs-3">{{ product.title }}</h3>
                                    <p class="card-text">
                                        <span class="badge rounded-pill bg-secondary">{{ product.category }} </span>
                                    </p>
                                </div>

                                {% if product.on_sale %}
                                    <p class="text-danger text-center fs-3 fw-bold">€{{ product.sale_price }}
                                        <span class="text-muted fs-6 text-decoration-line-through">{{ product.price }}</span>
                                    </p>
                                {% else %}
                                    <p class="text-center text-warning fs-3 fw-bold">€{{ product.price }}</p>
                                {% endif %}
                                <div class="d-flex justify-content-evenly gap-5 mb-2">
                                    <a href="{% url 'product_details' product.slug %}" class="btn btn-primary">Read
                                        More</a>
                                    <div>
                                        <form action="{% url 'add_to_cart' product.id %}" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                            <button type="submit" class="btn btn-warning">Add Cart
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
        <hr>
        <aside class="container">
            <h4 class="text-center mb-3">Join our inner circle and stay informed!</h4>
            <form class="form-inline d-flex justify-content-center align-items-center" action="{% url 'news_letter' %}"
                  method="post">
                {% csrf_token %}
                <div class="form-group mx-sm-3 mb-2">
                    <label for="email" class="sr-only">Email</label>
                    <input type="email" name="email" style="border: 1px solid"
                           class="border-primary form-control form-control-lg bg-gradient placeholder-wave" id="email"
                           placeholder="Enter your email">
                </div>
                <button type="submit" class="btn btn-lg btn-primary mb-2">Subscribe</button>
            </form>
        </aside>
    {% endif %}
{% endblock %}