{% extends 'base.html' %}
{% load static %}
{% block title %} Nerd Shop - Orders {% endblock %}
{% block meta_description %} User orders page {% endblock %}
{% block hero-image-url %}
    url('https://res.cloudinary.com/dxtsy4mcr/image/upload/v1672875464/carl-raw-m3hn2Kn5Bns-unsplash_jqfrri.jpg')
{% endblock %}
{% block css_files %}
    <link rel="stylesheet" href="{% static 'index.css' %}">
{% endblock %}
{% block hero-heading %}
    New gen consoles goodies
{% endblock %}
{% block hero-subheading %}
    All in one place
{% endblock %}
{% block content %}
    <h1>Orders</h1>
{% endblock %}