{% extends 'base.html' %}
{% load static %}
{% block meta_description %}Nerd Shop - {{ product.title }} {% endblock %}
{% block title %} Nerd Shop - {{ product.title }} {% endblock %}
{% block hero-image-url %}
    url('https://res.cloudinary.com/dxtsy4mcr/image/upload/v1672875464/carl-raw-m3hn2Kn5Bns-unsplash_jqfrri.jpg')
{% endblock %}
{% block hero-heading %}
    {{ product.title }}
{% endblock %}
{% block hero-subheading %}
    {{ product.platform }} | {{ product.category }}
{% endblock %}
{% block content %}
    <a href="{{ request.META.HTTP_REFERER }}" id="go_back" class="btn btn-outline-info">Back to the list</a>
    <div class="container my-4">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 offset-lg-2 mt-5">
                    <div class="card border-secondary">
                        {% if product.image and product.image.url %}
                            <a href="{{ product.image.url }}" target="_blank">
                                <img class="card-img-top img-fluid rounded" src="{{ product.image.url }}"
                                     alt="{{ product.title }}">
                            </a>
                        {% else %}
                                <img class="card-img-top img-fluid rounded" src="{% get_media_prefix %}noimage.png"
                                     alt="{{ product.title }}">
                        {% endif %}
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="product-details-container mb-5 mt-md-5">
                        <p class="mb-0">{{ product.name }}</p>
                        <p class="lead mb-0 text-left font-weight-bold text-warning">${{ product.price }}</p>
                        <p class="small mt-1 mb-0">
                            <a class="text-muted" href="{% url 'product_list' %}?category={{ product.category.name }}">
                                <i class="fas fa-tag mr-1"></i>{{ product.category.name }}
                            </a>
                        </p>
                        <p class="mt-3">{{ product.short_description }}</p>
                        <form class="form" id="add_to_cart_form" action="{% url 'add_to_cart' product.id %}"
                              method="POST">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="col-12">
                                    <p class="mt-3"><strong class="fw-bolder">Quantity:</strong></p>
                                    <div class="form-group w-50">
                                        <div class="input-group input-group-{{ product.id }}">
                                            <div class="input-group-prepend">
                                                <button class="btn btn-primary rounded-0" id="decrement_quantity"
                                                        type="button">
                                                <span class="icon">
                                                    <i class="fas fa-minus"></i>
                                                </span>
                                                </button>
                                            </div>
                                            <input class="form-control text-center" type="number" id="quantity_input"
                                                   name="quantity" value="1" min="1" max="99">
                                            <div class="input-group-append">
                                                <button class="increment-qty btn btn-primary rounded-0" type="button"
                                                        id="increment_quantity">
                                                <span class="icon">
                                                    <i class="fas fa-plus"></i>
                                                </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <input hidden value="{{ request.path }}" name="redirect_url">
                                    <input type="submit" class="btn btn-secondary rounded-0 text-uppercase mt-5"
                                           value="Add to Bag">
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
            {% if product.long_description %}
                <hr>
                <h3>About Product</h3>
                <hr>
                <div class="row">
                    {{ product.long_description | safe }}
                </div>
            {% endif %}
            {% if product.has_review %}
                <hr>
                <div class="d-flex align-items-baseline gap-2">
                <h3>Still not sure?</h3>
                <p class="fs-5"><span>Check our blog review of</span>
                    <a href="{{ product.review_url }}" class="link-secondary fw-bold" target="_blank">{{ product.title }}</a>
                </p>
                </div>
                <hr>
            {% endif %}
        </div>
    </div>
    <script>
        const addToCartForm = document.querySelector('#add_to_cart_form');
        const goBackBtn = document.querySelector('#go_back');
        const decrementQuantityBtn = document.querySelector('#decrement_quantity');
        const incrementQuantityBtn = document.querySelector('#increment_quantity');
        const quantityInput = document.querySelector('#quantity_input');
        decrementQuantityBtn.addEventListener('click', () => {
            if (quantityInput.value > 1) {
                quantityInput.value--;
            }
        });
        incrementQuantityBtn.addEventListener('click', () => {
            if (quantityInput.value < 99) {
                quantityInput.value++;
            }
        });

    </script>
{% endblock %}