{% load static %}
<div id="toast"
     class="alert alert-danger fade show d-flex justify-content-between align-items-center
         shadow-sm text-black fw-bold fixed-top mx-auto" style="max-width: 500px; margin-top: 15%"
     role="alert">
    <span><i class="fa-sharp fa-solid fa-bug fa-bounce me-3"></i>{{ message }}</span>
    <button type="button" id="close-button" class="close btn btn-danger btn-lg placeholder-wave"
            data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true" class="text-black">&times;</span>
    </button>
</div>
<script src="{% static 'js/toast.js' %}"></script>